@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>
    Dashboard</h2>
@*
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

*@
<div id="Dashboard" style="display: none;">
    <div class="DashboardSettingsHeader">
        Auto Refresh Rate: @Html.TextBox("txtRefreshRate", 5, new { @style = "width: 20px;", @required = "true", @maxLength = 2, @tooltip = "Values smaller than 4 will be ignored, no refresh!" })
        s
    </div>
    <div style="float:left;width:50%;">
        <!-- Area 1-->
        <div id="UserFilter" class="LoadingConfiguration">
            <h3>Assigned To User</h3>
            @Html.TextBox("txtUserFilter", "janzi", new { @style = "width: 200px;", @required = "true" })
            @Html.TextBox("txtNumResults", 10, new { @style = "width: 20px;", @required = "true", @maxLength = 2 })
            <input type="button" title="refresh" value="Refresh" id="fetchUserFilter" />
            @*id="ExecutingRequstUserFilter"  *@
            <div class="LoadingIndicator">
                <img src="../../Images/ajax-loader.gif" alt="Loading"/> Loading ...
            </div>
        </div>
        <div id="UserResult">
        </div>
    </div>
    <div style="float:left;margin-left:5px;width:49%;">
        <!-- Recent changes-->
        <div id="RecentChangesFilter" class="LoadingConfiguration">
            <h3>Latest Changes</h3>
@*            @Html.ActionLink("Test Recent", "RecentChanges", new { numResults = 15 })
*@            <div class="LoadingIndicator">
                <img src="../../Images/ajax-loader.gif" alt="Loading"/> Loading ...
            </div>
        </div>
        <div id="RecentChangesResult">
        </div>
    </div>
    <div style="clear:both;">
        <!-- Recent changes-->
        <div id="AllHighIncidentsFilter" class="LoadingConfiguration">
            <h3>Active High Issues</h3>
            <div class="LoadingIndicator">
                <img src="../../Images/ajax-loader.gif" alt="Loading"/> Loading ...
            </div>
        </div>
        <div id="AllHighIncidentsResult">
        </div>
    </div>

</div>
@section scripts{
    <script src="../../Scripts/jQuery.tmpl.js" type="text/javascript"></script>
    <script type="text/javascript">
<!--
        $(document).ready(function () {
            $("#Dashboard").fadeIn("slow");
            $("input.#fetchUserFilter").click(function () {
                FetchUserWithFilter(); 
                FetchHigh();
                FetchRecent();
            });
            //Load the default set
        });
        function EnableLoading(id) {
            //$("#" + id).fadeOut("fast");
            $("#" + id + " .LoadingIndicator").fadeIn("fast");
            var tmp = id.replace("Filter", "Result");
            var $t = $("#" + tmp);
            $t.fadeTo(10, 0.2);
            window.clearInterval($("#" + id).attr("timerIntervall"));
        }
        function DisableLoading(id) {
            var tmp = id.replace("Filter", "Result");
            var $t = $("#" + tmp);
            $t.fadeTo(10, 1);
            //$t.fadeIn("fast");
            $("#" + id + " .LoadingIndicator").css({
                top: $t.offset().top,
                left: $t.offset().left,
                width: $t.outerWidth(),
                height: $t.outerHeight()
            }).fadeOut("fast");
        }
        function PrepareNextCycle(id, funcCall) {
            var timeout = Number($("#txtRefreshRate").val()) * 1000;
            if (timeout > 3000) {
                userFilterIntervallId = window.setTimeout(funcCall, timeout);
                $("#" + id).attr("timerIntervall", userFilterIntervallId);
            }
        }
        function FetchData( url, filterArea, resultAreaId, callData, prepareResultContentFunction) {
            //arguments.callee.caller
            EnableLoading(filterArea);
            var load = url;
            $.getJSON(load, callData
                , function (data) {
                    //tmpl plugin http://msdn.microsoft.com/en-us/magazine/gg715549.aspx
                    var page = prepareResultContentFunction(data);
                    $("#" + resultAreaId).empty().append($(page)).show("slow");
                }
            )
            .error(function () {
                $("#" + resultAreaId).empty();
            })
            .always(function () {
                DisableLoading(filterArea);

            });
            PrepareNextCycle(filterArea, arguments.callee.caller);
        }
        function FetchHigh() {
            var url = "/Jira/ListActiveHighIssues";
            FetchData(url, "AllHighIncidentsFilter", "AllHighIncidentsResult", { numResults: $("#txtNumResults").val() }, function (data) {
                //tmpl plugin http://msdn.microsoft.com/en-us/magazine/gg715549.aspx
                var page = $("<div/>").addClass("IssueList"); //page-display
                $("#tmplJiraIssueUpdated").tmpl(data.issues).appendTo($(page));
                return page;
            });
        }
        function FetchRecent() {
            var url = "/Jira/RecentChanges";
            FetchData(url, "RecentChangesFilter", "RecentChangesResult", { numResults: $("#txtNumResults").val() + 2 }, function (data) {
                //tmpl plugin http://msdn.microsoft.com/en-us/magazine/gg715549.aspx
                var page = $("<div/>").addClass("IssueList"); //page-display
                $("#tmplJiraIssueUpdated").tmpl(data.issues).appendTo($(page));
                return page;
            });
        }

        // Used to filter on a specific user 
        function FetchUserWithFilter() {
            var url = "/Jira/UserOpenJiraIssues";

            FetchData(url, "UserFilter", "UserResult", { username: $("#txtUserFilter").val(), numResults: $("#txtNumResults").val() }, function (data) {
                //tmpl plugin http://msdn.microsoft.com/en-us/magazine/gg715549.aspx
                var page = $("<div/>").addClass("IssueList"); //page-display
                $("#tmplJiraIssue").tmpl(data.issues).appendTo($(page));
                return page;
            });
        }
//-->
    </script>
    <script id="tmplJiraIssue" type="text/html">
    <div class="nolst ${fields.priority.name}">
        <div class="lfI"><img src="${fields.issuetype.iconUrl}" alt="${fields.issuetype.name}" width="16px" height="16px"/></div>
        <div class="lfK"><a href="${self}">${key}</a></div>
        <div class="lfD">${FormatDate(fields.created)}</div>
        <div>${fields.summary}</div>
    </div>
    </script>
    <script id="tmplJiraIssueUpdated" type="text/html">
    <div class="nolst ${fields.priority.name}">
        <div class="lfI"><img src="${fields.issuetype.iconUrl}" alt="${fields.issuetype.name}" width="16px" height="16px"/></div>
        <div class="lfK"><a href="${self}">${key}</a></div>
        <div class="lfD">${FormatDate(fields.updated)}</div>
        <div>${fields.summary}</div>
    </div>
    </script>
}
