@model JiraClient.WebMVC.Models.JiraPagePropertiesModel
@{
    ViewBag.Title = "Personal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="Dashboard">
    <h2>
        Personal Dashboard</h2>
    <div>
        TODO:@User.Identity.Name
        <div id="userDisplay">
            janzi</div>
        <div>
            <input type="button" id="cmdRefresh" value="Refresh view" />
        </div>
    </div>
    <div id="MyIssueListResult">
    </div>
</div>
<div id="LoadingIndicator" style="position: fixed; height: 100%; min-height: 100%;
    width: 100%; min-width: 100%; display: none; text-align: center;">
    <img src="../../Images/ajax-loader.gif" alt="Loading" />
    Loading ...
</div>
@section scripts{
    <script src="../../Scripts/jQuery.tmpl.js" type="text/javascript"></script>
    <script src="../../Scripts/helper-code.js" type="text/javascript"></script>
    <script type="text/javascript">
    <!--
        $(document).ready(function () {
            $("#Dashboard").fadeIn("slow");
            $("input.#cmdRefresh").click(function () {
                FetchUserIssues();
            });
            //inline edit to change user name
            RegisterForInlineEditing("#userDisplay");
            //Load the default set
        });
        maxIssues = 40;
        function FetchUserIssues() {
            var url = "/Jira/UserOpenJiraIssues";
            FetchData(url, "MyIssueListResult", { username: $("#userDisplay").text(), numResults: maxIssues }, function (data) {
                var page = $("<div/>").addClass("IssueList"); //page-display
                $("#tmplJiraIssue").tmpl(data.issues).appendTo($(page));
                return page;
            });
        }

        function EnableLoading() {
            $(body).fadeTo(10, 0.2);
            $("#LoadingIndicator").fadeTo(10, 1);
        }
        function DisableLoading() {
            $("#LoadingIndicator").fadeOut("fast");
            $(body).fadeTo(10, 1);
        }
        function FetchData(url, resultAreaId, callData, prepareResultContentFunction) {
            //arguments.callee.caller
            EnableLoading();
            var load = url;
            $.getJSON(load, callData
                , function (data) {
                    //tmpl plugin http://msdn.microsoft.com/en-us/magazine/gg715549.aspx
                    var page = prepareResultContentFunction(data);
                    $("#" + resultAreaId).empty().append($(page)).show("slow");
                    var editItems = $(page).find("div.logItem");
                    RegisterForInlineEditingItem(editItems, null, AfterEditWorkLog);
                }
            )
            .error(function () {
                $("#" + resultAreaId).empty();
            })
            .always(function () {
                DisableLoading();

            });
        }
        function AfterEditWorkLog(item, newValue, oldValue) {
            if (!newValue || newValue.search(/[0-9]+[wmhds]/i)<0)
                return; //no value
            var url = "/Jira/UpdateWorklog";
            $.getJSON(url, { issueId: $(item).parent().attr("tag"), timespent: newValue }, function () {
                HighlightChange(item, 6, function () { $(item).text(""); });
            });
        }
    //-->
    </script>
    <script id="tmplJiraIssue" type="text/html">
    <div class="nolst ${fields.priority.name}" tag="${key}">
        <div class="lfI"><img src="${fields.issuetype.iconUrl}" alt="${fields.issuetype.name}" width="16px" height="16px"/></div>
        <div class="lfK"><a href="@string.Concat(Model.JiraUrl, "/browse/${key}")">${key}</a></div>
        <div class="lfD">${FormatDate(fields.created)}</div>
        <div class="lfW">${TimespentFriendlyConverter(fields.timespent)}</div>
        <div class="lfW logItem"></div>
        <div>${fields.summary}</div>
    </div>
    </script>
}
